<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    {% include styles.html %}

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}
s
    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=26714307&amp;from=informer"
    target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/26714307/3_0_F9F9F9FF_F9F9F9FF_0_pageviews"
    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:26714307,lang:'ru'});return false}catch(e){}"/></a>
    <!-- /Yandex.Metrika informer -->
    {% include scripts.html %}
    {% include yandexmetrika.html %}
  </body>
</html>
