<!--Меню -->
<header class="header-10">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="#">
            <img src="img/logo.png" width="50px"/><span>Домашние интеллектуальные системы</span>
          </a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav pull-left">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Оборудование</a></li>
            <li><a href="#">Встроенные пылесосы</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-background"></div>
</header>
