<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery.js"><\/script>')</script> -->

<!-- build:js({app,.tmp}) /scripts/script.js -->
<!-- bower:js -->
<script src="/_bower_components/modernizr/modernizr.js"></script>
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<script src="/startup/common-files/js/easing.min.js"></script>
<script src="/startup/common-files/js/jquery.svg.js"></script>
<script src="/startup/common-files/js/jquery.svganim.js"></script>
<script src="/scripts/plugins.js"></script>
<script src="/startup/common-files/js/page-transitions.js"></script>
<script src="/startup/common-files/js/startup-kit.js"></script>
{% for script in page.scripts %}
  <script src="{{ script }}"></script>
{% endfor %}
<!-- endbuild -->




<!-- <script src="/scripts/main.js"></script> -->
<!-- <script src="/scripts/script.js"></script> -->
