<!-- build:css({app,.tmp}) /styles/site.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css" />
<link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<link rel="stylesheet" href="/startup/common-files/css/animations.css"/>
<link rel="stylesheet" href="/styles/syntax.css"/>
<link rel="stylesheet" href="/styles/startup.css"/>
<!-- endbuild -->

{% for style in page.styles %}
  <link rel="stylesheet" href="{{ style }}"/>
{% endfor %}

