<!-- build:css({app,.tmp}) /styles/main.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css" />
<link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->

<link rel="stylesheet" href="/startup/flat-ui/css/flat-ui.css">

<link rel="stylesheet" href="/startup/common-files/css/animations.css">

<link rel="stylesheet" href="/styles/syntax.css">
<link rel="stylesheet" href="/styles/startup.css">
<!-- endbuild -->

<link rel="stylesheet" href="/startup/common-files/css/icon-font.css">

{% for style in page.styles %}
  <link rel="stylesheet" href="{{ style }}">
{% endfor %}

<!-- <link rel="stylesheet" href="/styles/main.css"> -->
<!-- <link rel="stylesheet" href="/styles/style.css"> -->
