---
layout: startup_page
title: Встроенные пылесосы Beam Electrolux
---
{% include menu.html %}


<!--Начальный экран -->
<section class="content-5">
  <div class="container">
    <img src="img/beam/700TC-Combo Tool-Team.jpg" width="100" height="100" alt="">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Встроенные пылесосы Beam Electrolux в Ярославле</h3>
        <p class="lead">Лучший способ держать свой дом в чистоте</p>
      </div>
    </div>
    <div class="row features">
      <div class="col-sm-4 col-sm-offset-2">
        <span class="fui-cmd"> </span>
        <h6>Легко убираться</h6>
        <p>Не надо таскать тяжелый пылесос по этажам и комнатам, выбрасывать мусор. Просто воткните легкий шланг в розетку.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <span class="fui-windows"> </span>
        <h6>Без выхлопа и аллергии.</h6>
        <p>Воздух с мелчайшей пылью, которую невозможно отфильтровать, выводится на улицу, а не обратно в помещение. Забудьте об аллергии на домашнюю пыль.</p>
      </div>
    </div>
    <div class="row features">
      <div class="col-sm-4 col-sm-offset-2">
        <span class="fui-upload"> </span>
        <h6>Тишина</h6>
        <p>Больше мощность, меньше шума. В два раза тише обычного пылесоса. Тихий агрегат стоит в подсобном помещении. </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <span class="fui-credit-card"> </span>
        <h6>Чистка 1 раз в пол года</h6>
        <p>Благодаря системе "Циклон", самовстряхивающемуся фильтру и вместительному быстросъемному баку.</p>
      </div>
    </div>
  </div>
</section>

<!--Принцип работы -->
<section class="content-12">
  <a class="wide btn-wide" href="#"><b>Как это работает?</b></a>
</section>

<section class="content-31">
  <div class="container">
    <div class="row">
      <div class="number">1</div>
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Монтаж системы воздуховодов</h3>
        <p>Трубы монтируются внутри стен, в полу, под потолком или в межэтажных перекрытиях.</p>
        <div class="box">
          <div class="img">
            <img src="img/beam/pilesos-trassa_v_stene_tskol.jpg" width="380" height="187" alt=""/>
            <img src="img/beam/pilesos-trassa_v_stene_tskol.jpg" width="380" height="187" alt=""/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="number">2</div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="pt-1" class="page-transitions pt-perspective pt-item-1 pt-first">
          <div class="pt-page pt-page-current">
            <h3>Монтаж розеток</h3>
            <p>Розетки устанавливаются в стенах или в полу, согласно проекту</p>
            <div class="box">
              <div class="img">
                <img src="img/beam/pilesos-napolnaya_pnevmorozetka.jpg" width="380" height="179" alt=""/>
                <img src="img/beam/pilesos-napolnaya_pnevmorozetka.jpg" width="380" height="179" alt=""/>
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Установка и подключение агрегата</h3>
            <p>Агрегат монтируется в подсобном помещении, гараже или на балконе, выхлоп через глушитель выводится на улицу. Помещение не отапливается зимой - не беда, пылесосу русские морозы нипочем.</p>
            <div class="box">
              <div class="img">
                <img src="img/beam/pilesos-napolnaya_pnevmorozetka.jpg" width="397" height="193" alt=""/>
                <img src="img/beam/pilesos-napolnaya_pnevmorozetka.jpg" width="397" height="193" alt=""/>
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Based on Twitter Bootstrap</h3>
            <p>For example, let’s take a look at Sample #4. This page consists of different blocks that
              are taken from a UI Kit — header, feature blocks, content blocks and footer with
              address. </p>
              <div class="box">
                <div class="img">
                  <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt=""/>
                  <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt=""/>
                </div>
              </div>
          </div>
          <div class="pt-controls">
            <a class="pt-control-prev" href="#"></a>
            <a class="pt-control-next" href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="number">3</div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="pt-2" class="page-transitions pt-perspective pt-item-1 pt-first">
          <div class="pt-page pt-page-current">
            <h3>Короткий видеоролик видеоролик</h3>
            <p>Посмотрите, и все сразу станет понятно</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ps-wire-imac-bw@2x.png" width="397" height="193" alt=""/>
                <img src="../../common-files/img/content/ps-wire-imac@2x.png" width="397" height="193" alt=""/>
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Make beautiful sites much faster</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand:
              buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt=""/>
                <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt=""/>
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Easy way to prototyping ideas</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand:
              buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/map-bw@2x.png" width="380" height="179" alt=""/>
                <img src="../../common-files/img/content/map@2x.png" width="380" height="179" alt=""/>
              </div>
            </div>
          </div>
          <div class="pt-controls">
            <a class="pt-control-prev" href="#"></a>
            <a class="pt-control-next" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Типовые проекты -->
<section class="content-21 bg-midnight-blue">
  <div class="container">
    <h3>Где применяется?</h3>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="features features-tabs">
          <div class="features-header">
            <div class="box active">
              <div class="fui-cmd"></div>
              В квартире
            </div>
            <div class="box">
              <div class="fui-mic"></div>
              В доме
            </div>
            <div class="box">
              <div class="fui-user"></div>
              На работе
            </div>
          </div>
          <div class="features-bodies">
            <div class="features-body active">
              <h6>Место найдется</h6>
              <p>Можно разместить агрегат на балконе или лоджии(он не боится отрицательных температур до -38*С), в кладовке или в шкафу в любой комнате.
              </p>
              <p>Прокладку воздуховодов по квартире можно свести к минимуму, длинный шланг дотянется до любой точки комнаты</p>
            </div>
            <div class="features-body">
              <h6>Поставьте пылесос в подвале или в гараже</h6>
              <p>Забудьте о том, что пыль здесь, а пылесос всегда в другом конце дома. Теперь не нужен отдельный пылесос для гаража, и листья с грязью на крыльце можно убрать в одно мгновение ока.</p>
              <p>Большой дом, постоянно приходится менять фильтры в пылесосе? Со встроенным пылесосом Beam Electrolux будет иначе. Фильтр менять не надо совсем, а бак настолько большой (15 литров у моделей для дома), и раз в полгода вы будете производить несложную операцию вытряхивания бака в мусорный пакет.
              </p>
            </div>
            <div class="features-body">
              <h6>В чистоте не только дома, но и на работе</h6>
              <p>Позаботьтесь о здововье своих подчиненных и, конечно же, о своем собственном, если дома вы уже привыкли вдыхать чистый воздух, то почему на работе нужно дышать пылью?
              </p>
              <p>В офисе ковры? Тогда и говорить не о чем, встроенный пылесос Beam Electrolux - это лучшее решение.</p>
              <p>Специальные предложения для салонов красоты и стоматологических кабинетов, где чистота - это задача номер один. Свяжитесь с нами, и мы вышлем коммерческое предложение.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Акссессуары -->
<section class="content-30">
  <div class="container">
    <div class="row">
      <div>
        <h3>Большой выбор аксессуаров и дизайнерских решений</h3>
        <p>Выбери свой персональный набор опций для центрального пылесоса Beam Electrolux</p>
      </div>
    </div>
    <div class="row features">
      <div class="col-sm-3 box-1">
        <div class="description-top">
          <h6>Розетки подойдут к любому интерьеру</h6>
          Различные цветовые решения и формы пневморозеток впишутся в любой дизайн интерьера.
          <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt=""/>
        </div>
        <div class="img">
          <img src="img/beam/BEAM_Electrolux_Vroom.jpg" width="220" height="391" alt=""/>
          <img src="img/beam/BEAM_Electrolux_Vroom.jpg" width="220" height="391" alt=""/>
        </div>
        <div class="description-bottom">
          <h6>Розетки напольные и настенные</h6>
          Размещайте пневморозетки где захотите.
          <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt=""/>
        </div>
      </div>
      <div class="col-sm-3 box-2">
        <div class="description-top">
          <h6>Сепаратор Bigdirt</h6>
          Позволяет урать крупный мусор, листья и грязь с крыльца. Почистить камин или мангал. Даже убрать лужу у входа - теперь элементарно.
          <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt=""/>
        </div>
        <div class="img">
          <img src="img/beam/separatorel.jpg" width="220" height="391" alt="Сепаратор Bigdirt Beam Electrolux"/>
          <img src="img/beam/separatorel.jpg" width="220" height="391" alt="Сепаратор Bigdirt Beam Electrolux"/>
        </div>
        <div class="description-bottom">
          <h6>Пневмосовок Vacpan</h6>
          Достаточно смести к нему мусор, нажать ногой на педаль, и мусора как не бывало.
          <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt=""/>
        </div>
      </div>
      <div class="col-sm-3 box-3">
        <div class="description-top">
          <h6>Самосматывающийся шланг Vroom</h6>
          Пылесос всегда под рукой, разместите Vroom под мойкой на кухне, и на вашей кухне станет всегда чисто без лишних хлопот..
          <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt=""/>
        </div>
        <div class="img">
          <img src="img/beam/BEAM_Electrolux_Vroom.jpg" width="220" height="391" alt=""/>
          <img src="img/beam/BEAM_Electrolux_Vroom.jpg" width="220" height="391" alt=""/>
        </div>
        <div class="description-bottom">
          <h6>Турбощетка</h6>
          Огромный выбор насадок. Без турбощетки тоже не обошлось.
          <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt=""/>
        </div>
      </div>
      <div class="col-sm-3 box-4">
        <div class="description-top">
          <h6>Контейнер для хранения Vaxbox</h6>
          Все ваши счетки будут лежать каждая на своем месте.
          <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt=""/>
        </div>
        <div class="img">
          <img src="img/beam/BEAM_Turbo_brush.jpg" width="220" height="391" alt="Турбощетка Beam Electrolux"/>
          <img src="img/beam/BEAM_Turbo_brush.jpg" width="220" height="391" alt="Турбощетка Beam Electrolux"/>
        </div>
        <div class="description-bottom">
          <h6>Чехол для шланга</h6>
          Боитесь поцарапать дорогую мебель говрированным шлангом? Зрря беспокоитесь, на этот случай есть защитный чехол для шланга.
          <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Стоимость -->
<section class="content-12">
  <a class="wide btn-wide" href="#"><b>Сколько стоит пылесос?</b></a>
</section>

<section class="price-3">
  <div class="container">
    <div class="plans">
      <div class="plan">
        <div class="title">
          <div class="img"><img src="../../common-files/icons/retina-ready-s@2x.png" width="117" height="104" alt=""></div>
          Пылесос BEAM Electolux Mini
        </div>
        <div class="price">От 29800</div>
        <div class="description">
          до <b>60</b> кв. метров<br>
          1 розетка<br>
          Шланг 9 метров<br>
          Набор насадок<br>
          3 года гарантии
        </div>
        <a class="btn disabled" href="#">Закажи проект бесплатно</a>
      </div>
      <div class="plan plan-2">
        <div class="title">
          <div class="img"><img src="../../common-files/icons/rocket@2x.png" width="101" height="101" alt=""></div>
          Пылесос BEAM Electolux 335
        </div>
        <div class="price">От 79600</div>
        <div class="description">
          до <b>270</b> кв. метров<br>
          4 розетки<br>
          Шланг 9 метров<br>
          Набор насадок<br>
          3 года гарантии
        </div>
        <a class="btn btn-primary" href="#">Закажи проект бесплатно</a>
      </div>
      <div class="plan">
        <div class="title">
          <div class="img"><img src="../../common-files/icons/magic-wand@2x.png" width="100" height="100" alt=""></div>
          Пылесос BEAM Electolux 385
        </div>
        <div class="price">От 118200</div>
        <div class="description">
          до <b>700</b> кв. метров<br>
          9 розеток<br>
          Шланг 9 метров<br>
          Набор насадок<br>
          3 года гарантии
        </div>
        <a class="btn btn-primary" href="#">Закажи проект бесплатно</a>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>

<!--Форма обратной связи -->
<section class="content-12">
  <a class="wide btn-wide" href="#">АКЦИЯ! Закажи проект за <b>0 РУБЛЕЙ</b> сейчас!</a>
</section>

{% include contacts.html %}
{% include footer.html %}
